/* Estilos generales que pueden aplicarse a ambas páginas */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.container-fluid, .row {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.input-field.input-error {
    border: 1px solid rgb(167, 14, 14);
}

.error-message {
    color: rgb(167, 14, 14);
    font-size: 0.875em;
    display: none;
}

.btn {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos específicos para la página de inicio de sesión */
.login-page .login-container, .login-page .info-container {
    padding: 30px;
    min-height: 100vh;
    box-sizing: border-box;
}

.login-page .login-button, .login-page .register-button {
    background-color: #606460;
    color: white;
    width: 40%;
}

.login-page .login-button:hover, .login-page .register-button:hover {
    background-color: #b9bec4;
    color: #ffffff;
}

.login-page .info-image {
    max-width: 100%;
    height: auto;
}

/* Estilos específicos para la página de registro */
.register-page .form-section, .register-page .image-section {
    padding: 30px;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

.register-page .form-section {
    background-color: #6a994e;
    color: white;
}

.register-page .image-section {
    background-color: white;
    text-align: center;
}

.register-page .image-section img {
    max-width: 100%;
    height: auto;
}

.register-page .submit-button, .register-page .login-button {
    background-color: #606460;
    color: white;
    width: 40%;
}

.register-page .login-button:hover {
    background-color: #b9bec4;
    color: #ffffff;
}

.register-page .form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.register-page .form-check-label {
    margin-left: 5px;
}

.register-page .form-group {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.register-page h1, .register-page h2, .register-page h3, .register-page h4, .register-page h5 {
    margin-bottom: 20px;
}

.alert {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.register-page {
    overflow: hidden;
}
