@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*====================GLOBAL====================*/

* {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


h1{font-size: 3,5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
h4{font-size: 1.2em}
h5{font-size: 0.8em;}
h6{font-size: 0.5em}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

:root{
    --color:#6a994e;
    --white:#fff;
    --gray:#f5f5f5;
    --black1:#222;
    --black2:#999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}
/*=====================HOMEPAGE====================*/

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border:none;
    color: var(--white);
    background-color: var(--black2);
}

button:hover{
    background-color: var(--gray);
    color: var(--color);
    transform: scale(1.1);
}

.container1{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: var(--color);
    padding: 20px 10px;
}

header img{
    width: 300px;
    height: auto;
    padding: 10px 10px 0px;
}

header .logo{
    margin:0;
    padding-bottom: 20px;
}

header .container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lista{
    display: flex;
    flex-direction: row;
    text-align: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--black1);
}

header a:hover{
    color: var(--white);
}

#inicio{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: black;
    padding: 0px 10px 20px;
}


#inicio button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.texto h1, .texto p{
    padding: 0.2em 0 0.8em;
}


#acercade{
    background-color: var(--gray);
    background-image: url("../media/grafica.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#acercade .texto{
    padding: 30px 30px 30px;
    text-align: justify;
}

#comofunciona{
    padding:30px;
    background-color: white;
}

#comofunciona h2{
    margin:5px;
    text-align: center;
}

#comofunciona p{
    text-align: justify;
}

#lista {
    counter-reset: li; 
    list-style: none;   
    list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista{
    margin: 0 0 0 2em; 
}

#lista li{
    position: relative;
    display: flex;
    padding: .4em 1em.4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

#lista li:hover{
    background: var(--color);
    color: var(--white);
}

#lista li:hover:before{
    transform: rotate(360deg);  
}

#lista li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--color);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

footer{
    background-color: black;
}

footer  .container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(100,100,100);
    text-align: center;

    padding:0px;
}

footer .img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    justify-content:space-between;
}

footer .cp{
    margin: 0px 10px 10px;
}

footer .logo{
    padding: 10px 10px 0;
}


/*====================-NAVEGACIÓN====================*/

.navigation{
    position:fixed;
    width:300px;
    height: 100%;
    background: var(--color);
    border-left: 10px solid var(--color);
    transition: 0.5s;
    overflow: hidden;
}   

.topbar{
    background: var(--gray);
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;   
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,.navigation ul li.hovered{
background-color: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a, .navigation ul li.hovered a{
    color: var(--color);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75rem;
}

.navigation ul li a .tittle{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
} 

.navigation ul li:hover a::before, .navigation ul li.hovered a::before{
    content:"";
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after, .navigation ul li.hovered a::after{
    content:"";
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.recentOrders {
    overflow: auto; 
}

/*====================-MAIN====================*/

.main{
    position: absolute;
    width: calc(100% - 300px);
    left:300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    padding: 20px; 
    box-sizing: border-box; 
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position:relative;
    top:0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    cursor:pointer;
}

.search{
    position:relative;
    width:400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border:1px solid var(--black2)
}

.search label ion-icon{
    position: absolute;
    top:0;
    left:10px;
    font-size: 1.2rem;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input:invalid {
    border: 2px solid #ff0000; 
    background-color: #f8d7da; 
}

/* Estilos para cuando el usuario selecciona el campo */
input:invalid:focus {
    background-color: #f8d7da; 
}


input:valid {
    border: 2px solid #28a745; 
}
/*====================-CARDS====================*/

.card{
    margin-right: 15px;
}

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--color);
}

.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBX{
    font-size: 3.5rem;
    color: var(--black2);
}

.cardBox .card:hover{
    background: var(--color);
}

.cardBox .card:hover .numbers, 
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBX{
    color: var(--white);
}


/*--====================ORDER DETAILS======================*/

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:30px;
    margin-top: 10px;
}

.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
    border-radius: 20px;
}

.details .cardHeader{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: var(--color);
}

.detailsForm .form-group {
    margin-bottom: 1cm;
}

.detailsForm .button {
    margin-top: 1cm;
}

.detailsForm #products-section .form-group {
    margin-right: 1cm; 
}

.detailsForm #products-section .btn {
    margin-top: 1cm;
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--color);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.btn:hover{
    background: var(--gray);
    color: var(--black1);
    font-weight: bold;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}


.details .recentOrders table tr td{
    padding: 10px;
}


.status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending{
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inProgress{
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCostumers{
    position:relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.recentCostumers .imgBX{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.recentCostumers .imgBX img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCostumers table tr:hover{
    background: var(--color);
    color: var(--white);
}

.recentCostumers table tr td{
    padding: 12px 10px;
}

.recentCostumers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}

.recentCostumers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}

.recentCostumers table tr:hover{
    background: var(--color);
    color: var(--white);
}

/*--====================INVENTARIO======================*/

.details .recentOrders #tablaProductos td {
    padding-left: 80px;
}

.button{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding: 20px; 
}

.btn-delete, .btn-edit {
    padding: 10px 20px; 
    text-decoration: none; 
    margin-bottom: 10px;
    margin-left: 0;
    border-radius: 5px; 
    background-color: var(--gray);
    color: var(--black1);
}

.btn-edit{
    background: #e9c46a;
}

.btn-edit:hover,.btn-delete:hover{
    background: #6a994e;
    color: #222;
}

.btn-delete{
    background: #d90429;
}


/*--=====================FORM=====================*/

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.form-group.col {
    display: flex;
    flex-direction: column;
    flex-basis: 48%; /* Ajuste el porcentaje según sea necesario para el espaciado */
}

/* Esto asegura que el textarea y el botón se extiendan a lo ancho del formulario */
.form-group {
    width: 100%;
}


 /*LOGIN*/

 .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw; /* Asegúrate de que el contenedor ocupe toda la anchura de la ventana */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.login-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c5003; /* El color de fondo verde oscuro */
    color: white; /* Texto en color blanco */
}

.info-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Cambiado a center para alinear el texto y la imagen en el centro */
    background-color: white; /* El color de fondo blanco */
    color: black; /* Texto en color negro */
}

/* Ajuste el tamaño y la alineación de la imagen */
.info-container img {
    max-width: 100%; /* Se ajusta al 100% del contenedor .col-md-6 */
    margin-bottom: 1rem; /* Añadir un margen debajo de la imagen */
}

.input-field {
    width: calc(100% - 20px); /* 100% del ancho menos el padding */
    margin: 10px 0; /* Margen arriba y abajo para separar */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordes redondeados para los campos de texto */
    font-size: 16px; /* Tamaño de fuente para los campos de entrada */
}

/* Estilos para cuando los campos de entrada son válidos o enfocados */
input:invalid:focus {
    background-color: #f8d7da; /* Fondo rojo claro para resaltar campos inválidos */
}

input:valid {
    border: 2px solid #28a745; /* Borde verde para campos válidos */
}

/* Estilos de botones */
.btn {
    padding: 10px 20px;
    width: auto; /* Auto para que el ancho sea el del contenido */
    display: block;
    margin: 10px auto; /* Margen arriba y abajo para centrar, izquierda y derecha auto */
    font-size: 16px; /* Tamaño de fuente consistente para todos los botones */
    text-align: center; /* Asegura que el texto está centrado */
}

.login-button {
    background-color: #606460;
    color: white;
}

.register-button {
    background-color: #033403;
    color: white;
}

.password-button {
    background-color: #eef4ee; /* Color de fondo claro */
    color: #035C2E; /* Color del texto en hexadecimal */
}

.register-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
/*registro*/

body {
    background-color: #f4f4f4;
}
.form-section {
    background-color: #2c5003;
    color: white;
    padding: 30px;
    min-height: 100vh;
}
.image-section {
    background-color: white;
    text-align: center;
    padding: 30px;
}
.image-section img {
    max-width: 80%;
    height: auto;
}
.input-field, .submit-button, .form-check-input {
    border-radius: 25px; 
}
.input-field {
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    padding: 10px;
}
.submit-button {
    background-color: #606460;
    border: none;
    padding: 10px 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    width: 40%; /* Hacer el botón de ancho completo */
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}
.login-button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: #08540b;

}
.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espacio adicional debajo del checkbox */
}
.form-check-label {
    margin-left: 5px;
    order: 2; 
}
.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    order: 1; 
}
.container-fluidformat{
    padding: 20px;
    
}
.contenedor-centrado {
    display: flex; 
    flex-direction: column; /* Orienta los elementos del formulario en una columna */
    align-items: stretch; /* Alinea los elementos para que se estiren y ocupen todo el ancho disponible */
    margin: 0; 
    width: 100%; 
    
}


input:invalid {
    border: 2px solid #ff0000; /* Borde rojo para campos inválidos */
    background-color: #f8d7da; 

}

/* Estilos para cuando el usuario selecciona el campo */
input:invalid:focus {
    background-color: #f8d7da; /* Un fondo rojo claro para cuando el campo está enfocado */
}

/* Opcional: Estilos para cuando el campo es válido */
input:valid {
    border: 2px solid #28a745; /* Un borde verde para campos válidos */
}

/*--====================RESPONSIVE======================*/

@media(max-width:991px){
    .navigation{
        left: -300px;
    }

    .navigation.active{
        width: 300px;
        left: 0;
    }

    .main{
        width: 100%;
        left:0;
    }

    .main.active{
        left: 300px;
    }

    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }

    #inicio{
        background-position-x: calc(100vw-800px);
    }

    
}

@media (min-width: 820px){

    header .logo{
        padding-left: 20px;
    }

    header{
        padding: 0;
        padding-bottom: 5px;
    }

    header .container1{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding: 0;
        padding-right: 30px;
    }

    header a{
        padding-top: 10px ;
    }

    button{
        margin-left:30px;
    }


    #inicio{
        background-color: var(--white);
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        text-align: left;
        flex-direction: row; 
        font-size: 20px;
        padding: 20px; 
    }
    
    
    #inicio img{
        width: 50%; 
        height: auto; 
        object-fit: cover; 
        width: 20em;
    }
    
    #inicio .container1{
        margin: 5em 7em; 
    }

    #inicio button{
        margin: 0;
    }

    #acercade{
        background-image: none;
        background-image: url("../media/grafica.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    #acercade .texto {
        text-align: justify;
        padding-left: 30em;
        padding-right: 5em;
    }
    
    #lista li{
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;   
    }
}

@media(max-width:768px){
    .details{
        grid-template-columns: 1fr;
    }
    .recentOrders{
        overflow-x: auto;
    }
    .status.inProgress{
        white-space: nowrap;
    }

    #inicio img{
        visibility: hidden;
        display: none;
    }
}

@media(max-width:480px){
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index:1000;
    }
}
